* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #000000;
  text-decoration: none;
}
body,
html {
  height: 100%;
}

.header {
  background-color: rgb(248, 153, 74);
}
.header ul {
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.header li {
  float: left;
}
.header li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}
.header li a:hover {
  background-color: rgb(255, 115, 0);
}
.cad {
  float: right;
}

.bunner {
  background-color: rgb(248, 153, 74);
  background-image: url(img/bgimage.png);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: animacao1 1s;
}
.text_bunner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@keyframes animacao1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.alt {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000000;
  height: auto;
  width: 100%;
}

.passagens {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ts1 {
  padding: 20px;
}
.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/rio.jpg);
  width: 290px;
  height: 290px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/Salvador-Pelourinho.jpg);
  width: 290px;
  height: 290px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/sp.jpg);
  width: 290px;
  height: 290px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/gramado.jpg);
  width: 290px;
  height: 290px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.text button {
  background: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border-color: #fff;
  cursor: pointer;
  outline: auto;
}
.text button:hover {
  background-color: #fff;
  color: #000000;
}
